<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 
	namespace, id : 해당 interface 불러와 연결하는
		namespace : 공통부분
		id : 해당 interface 이름
	parameterType : 
		해당 interface의 input의 정의되어 있는 경우 
		mybatis.Spring.xml에서 정의한 DTO Alias 이용
	resultType : 
		해당 interface의 return 값이 정의되어 있는 경우, return값이 단위객체인 경우
		mybatis.Spring.xml에서 정의한 DTO Alias 이용
	resultMap : 
		해당 interface의 return 값이 정의되어 있는 경우, return값이 리스트객체인 경우
		type : 리스트단위, mybatis.Spring.xml에서 정의한 DTO Alias 이용
		id : 정의된 리스트객체의 alias
-->
<mapper namespace="javarajob.repository.BoardDao">
	<resultMap type="board" id="boardResult"/>
	<insert id="insertBoard" parameterType="board">	<!-- 계층형을 위해서는 refno로 계층관계를 연결해주어야 -->
		insert into board values(board_seq.nextval,#{refno},#{subject},#{content},#{pass},#{writer},0,sysdate,#{email},#{companyid})
	</insert>
	<!-- 
	<delete id="deleteBoard" parameterType="no">
		DELETE FROM BOARD WHERE no=#{no}
	</delete>
	<update id="updateBoard" parameterType="board">
		update account set subject=#{subject}, content=#{content}, pass=#{pass}, writer=#{writer}, email=#{email}, companyid=#{companyid} where no=#{no}
	</update>
	 -->
	<select id="listBoard" resultMap="boardResult" parameterType="schboard"> 
		select * from (
		select 
		rownum cnt, 
		a.*,		 
		(select COMPANYNAME from COMPANY b where a.COMPANYID=b.COMPANYID) companyname,
		(select DECODE(c.no,0,'X',1,'O','O') from board c where a.no=c.refno) isread
		from board a
		where 1=1
		<if test="subject!=null and subject!=''">
			and subject like '%' || #{subject} || '%'
		</if>
		<if test="writer!=null and writer!=''">
			and writer like '%' || #{writer} || '%'
		</if>
		<if test="content!=null and content!=''">
			and content like '%' || #{content} || '%'
		</if>	<!-- 계층관계 연결 및 글 보여지는 순서 정리 -->
		
		start with refno=0
		connect by prior no=refno
		order siblings by no desc )
		where cnt between #{start} and #{end} <!-- 페이징 처리 -->				
	</select>
	<select id="getBoard" parameterType="int" resultType="board">
		select * from board 
		where no = #{no}
	</select>
	<update id="uptBoardCnt" parameterType="int">
		update board
   			set readcount=readcount+1
		 where no=#{no}	
	</update>
	<select id="totCnt" parameterType="schboard" resultType="int">
		select count(*)
		from board
		where 1=1
		<if test="subject!=null and subject!=''">
			and subject like '%'|| #{subject} ||'%'
		</if>
		<if test="writer!=null and writer!=''">
			and writer like '%'|| #{writer} ||'%'
		</if>
		<if test="content!=null and content!=''">
			and content like '%'|| #{content} ||'%'
		</if>		
	</select>
	
	<delete id="deleteBoard" parameterType="int">
		delete from board where no=#{no}
	</delete>
	<update id="updateBoard" parameterType="board">
		update board set pass=#{pass}, subject=#{subject}, writer=#{writer}, email=#{email}, content=#{content} where no=#{no}
	</update>
</mapper>