<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="javarajob.repository.CareerDao">
	<resultMap type="career" id="careerResult"/>	
	<insert id="insertCareer" parameterType="career">
		insert into ACCOUNT values(#{name},#{id},#{password},#{email},#{phone},#{address},#{interest},sysdate)
	</insert>
	<select id="listCareer" resultMap="careerResult" parameterType="careerSch">
		select A.*, B.companyname from CAREER A, COMPANY B
		where 1=1
		and A.companyid= B.companyid
		<if test="careerid!=null and careerid!=''">
			and careerid = #{careerid}
		</if>
		<if test="title!=null and title!=''">
			and title like '%' || #{title} || '%'
		</if>
		
		<if test="companyname!=null and companyname!=''">
			and companyname like '%' || #{companyname} || '%'
		</if>
		<if test="companytype!=null">
			and companytype in
			<foreach collection="companytype" item="ckcomptype" open="(" close=")" separator=",">
	 			#{ckcomptype}
	 		</foreach>
		</if>
		<if test="location!=null">
			and location in 
			<foreach collection="location" item="cklocation" open="(" close=")" separator=",">
	 			#{cklocation}
	 		</foreach>
		</if>
		<if test="field!=null">
			and field in
			<foreach collection="field" item="ckfield" open="(" close=")" separator=",">
	 			#{ckfield}
	 		</foreach>
		</if>
		<if test="industry!=null">
			and industry in 
			<foreach collection="industry" item="ckindustry" open="(" close=")" separator=",">
	 			#{ckindustry}
	 		</foreach>
		</if>
		<if test="employmenttype!=null">
			and employmenttype in 
			<foreach collection="employmenttype" item="ckemptype" open="(" close=")" separator=",">
	 			#{ckemptype}
	 		</foreach>
		</if>
	</select>
	
	<select id="getCareer" parameterType="int" resultType="career">
		select * from CAREER 
		where careerid = #{careerid}
	</select>
	<delete id="deleteCareer" parameterType="int">
		DELETE FROM CAREER WHERE careerid=#{careerid}
	</delete>
	<update id="updateCareer" parameterType="career">
		update career set task=#{task},
		requirements=#{requirements},
		preference=#{preference}, 
		workingcondition=#{workingcondition}, 
		companytype=#{companytype}, 
		field=#{field}, 
		location=#{location}, 
		industry=#{industry}, 
		employmenttype=#{employmenttype}, 
		title=#{title}, 
		salary=#{salary}  
	</update>
	
	<select id="listCareerforindex" resultMap="careerResult">
		SELECT * FROM 
		(
			SELECT A.CAREERID, A.COMPANYTYPE, A.FIELD, A.LOCATION, A.INDUSTRY, 
			A.EMPLOYMENTTYPE, A.COMPANYID,B.COMPANYNAME, 
			A.TITLE, A.SALARY, A.TASK, A.REQUIREMENTS, 
			A.PREFERENCE, A.WORKINGCONDITION, 
			A.POSTDATE, A.ENDDATE, ROWNUM 
			FROM CAREER A, COMPANY B 
			WHERE A.COMPANYID=B.COMPANYID 
			ORDER BY POSTDATE DESC 
		) WHERE ROWNUM BETWEEN 1 AND 5		
	</select>
	
	<select id="getCount" resultType="int">
		SELECT COUNT(*) FROM CAREER
	</select>	
		
</mapper>