<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="javarajob.repository.CareerDao">
	<resultMap type="career" id="careerResult"/>	
	<insert id="insertCareer" parameterType="career">
		insert into ACCOUNT values(#{name},#{id},#{password},#{email},#{phone},#{address},#{interest},sysdate)
	</insert>
	<select id="listCareer" resultMap="careerResult" parameterType="careerSch">
		select * from CAREER
		where 1=1
		and  companyid= #{companyid}
		<if test="careerid!=null and careerid!=''">
			and careerid = #{careerid}
		</if>
		<if test="title!=null and title!=''">
			and title like '%' || #{title} || '%'
		</if>
		<if test="companytype!=null and companytype!=''">
			and companytype like '%' || #{companytype} || '%'
		</if>
		<if test="location!=null and location!=''">
			and location like '%' || #{location} || '%'
		</if>
		<if test="field!=null and field!=''">
			and field like '%' || #{field} || '%'
		</if>
		<if test="industry!=null and industry!=''">
			and industry like '%' || #{industry} || '%'
		</if>
		<if test="employmenttype!=null and employmenttype!=''">
			and employmenttype like '%' || #{employmenttype} || '%'
		</if>
		order by sysdate desc
	</select>
	<select id="getCareer" parameterType="int" resultType="career">
		select * from CAREER 
		where careerid = #{careerid}
	</select>
	<delete id="deleteCareer" parameterType="int">
		DELETE FROM CAREER WHERE careerid=#{careerid}
	</delete>
	<update id="updateCareer" parameterType="career">
		update career set task=#{task},
		requirements=#{requirements},
		preference=#{preference}, 
		workingcondition=#{workingcondition}, 
		companytype=#{companytype}, 
		field=#{field}, 
		location=#{location}, 
		industry=#{industry}, 
		employmenttype=#{employmenttype}, 
		title=#{title}, 
		salary=#{salary}  
	</update>
	
	<select id="listCareerforindex" resultMap="careerResult">
		SELECT A.CAREERID, A.COMPANYTYPE, A.FIELD, A.LOCATION, A.INDUSTRY, A.EMPLOYMENTTYPE, A.COMPANYID,B.COMPANYNAME, A.TITLE, A.SALARY, A.TASK, A.REQUIREMENTS, A.PREFERENCE, A.WORKINGCONDITION, A.POSTDATE, A.ENDDATE FROM CAREER A, COMPANY B WHERE A.COMPANYID=B.COMPANYID ORDER BY POSTDATE DESC
	</select>
		
		
</mapper>