<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="javarajob.repository.CompDao">
	<resultMap id="compRsMap" type="company" />
	<select id="list" resultMap="compRsMap">
		SELECT * FROM COMPANY
	</select>
</mapper>