<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="javarajob.repository.CompDao">
	<resultMap type="company" id="companyResult"/>	
	<select id="listCompany" resultMap="companyResult" parameterType="companySch">
		select * from(select rownum rnum, c.* from  
		(select * from company
		where 1=1
		<if test="companyid!=null and companyid!=''">
			and companyid = #{companyid}
		</if>
		<if test="companytype!=null and companytype!=''">
			and companytype in '%' || #{companytype} || '%'
		</if>
		<if test="industry!=null and industry!=''">
			and industry like '%' || #{industry} || '%'
		</if>
		) c) where rnum between #{start} and #{end}
	</select>
	<select id="getCompany" resultType="company" parameterType="int">
	select * from company
	where companyid= #{companyid}
	</select>
</mapper>