<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="javarajob.repository.FavCareerDao">
	<resultMap type="favCareer" id="favCareerReuslt"/>
 <select id="favCareerList" resultMap="favCareerReuslt" parameterType="String">
    select careerid from favcareer where 1=1
    <if test="_parameter != null and !_parameter.equals('')">
        and id=#{id}
    </if>
 </select>	
	<insert id="addFavCareer" parameterType="favCareer">
		insert into FAVCAREER values(#{careerid},#{id})
	</insert>
	<delete id="removeFavCareer" parameterType="int" timeout="20">
		delete favcareer where careerid = #{careerid}
	</delete>
	<select id="getFavCareer" parameterType="favCareer" resultType="favCareer">
		select * from favcareer
		where 1=1
		<if test="id!=null and id!=''">
		  and id = #{id}
		</if >
		<if test="careerid!=null and careerid!=''">
		  and careerid = #{careerid}
		</if>
	</select>
</mapper>