<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="javarajob.repository.FavCompanyDao">
	<resultMap type="favCompany" id="favCompanyReuslt" />
	<select id="favCompanyList" resultMap="favCompanyReuslt" parameterType="String">
		SELECT COMPANYID FROM FAVCOMPANY WHERE 1=1
		<if test="_parameter != null and !_parameter.equals('')">
			AND ID = #{id}
		</if>
	</select>

	<insert id="addFavCompany" parameterType="favCompany">
		INSERT INTO FAVCOMPANY VALUES ( #{companyid}, #{id})
	</insert>

	<delete id="removeFavCompany" parameterType="favCompany" timeout="20">
		DELETE FROM FAVCOMPANY 
		WHERE 1=1
		<if test="companyid!=null"> 
			AND COMPANYID = #{companyid}
		</if>
		<if test="id!=null and id!=''"> 
			AND ID = #{id}
		</if>
	</delete>

	<select id="getFavCompany" parameterType="favCompany" resultType="favCompany">
		SELECT * FROM FAVCOMPANY
		WHERE 1=1
		<if test="id!=null and id!=''">
			AND ID = #{id}
		</if>
		<if test="companyid!=null and companyid!=''">
			AND COMPANYID = #{companyid}
		</if>
	</select>
	<delete id="removeFavCompanyAccount" parameterType="String" timeout="20">
		delete FAVCOMPANY where id = #{id}
	</delete>
</mapper>