<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- mybatis 관련 설정파일 resource/mybatis.Spring.xml-->
<!-- DTO를 alias(별명)으로 세팅한 후, sql 처리할 해당 mapper에 연결 -->
<configuration>
	<typeAliases>
		<!-- DTO를 alias(별명)으로 세팅 -->
		<typeAlias alias="board" type="javarajob.d01_board.vo.Board"/>
		<typeAlias alias="schboard" type="javarajob.d01_board.vo.Board_Sch"/>
	</typeAliases>
	<mappers>
		<!-- 모듈별로 sql을 지정해 놓은 xml 파일 -->	
		<mapper resource="resource/BoardMapper.xml"/>
	</mappers>
</configuration>