<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- mybatis 관련 설정파일 resource/mybatis.Spring.xml -->
<configuration>

	<typeAliases>
		<typeAlias alias="mem" type="javarajob.vo.Account"/>
		<typeAlias alias="schmem" type="javarajob.vo.Account_Sch"/>
		<typeAlias alias="company" type="javarajob.vo.Company" />
		<typeAlias alias="companySch" type="javarajob.vo.Company_Sch" />
		<typeAlias alias="career" type="javarajob.vo.Career"/>
		<typeAlias alias="careerSch" type="javarajob.vo.Career_Sch"/>
		<typeAlias alias="resume" type="javarajob.vo.Resume" />
		<typeAlias alias="board" type="javarajob.vo.Board"/>
		<typeAlias alias="schboard" type="javarajob.vo.Board_Sch"/>	
	</typeAliases>
	
	<mappers>
		<mapper resource="resource/AccountMapper.xml"/>
		<mapper resource="resource/CompanyMapper.xml" />
		<mapper resource="resource/CareerMapper.xml" />
		<mapper resource="resource/ResumeMapper.xml" />		
		<mapper resource="resource/BoardMapper.xml"/>
	</mappers>
	
</configuration>