<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="javarajob.repository.ResumeDao">
	<resultMap type="resume" id="resumeResult" />
	<insert id="insertResume" parameterType="resume">
		INSERT INTO RESUME VALUES(
			null,
			#{name},
			#{birthYear},
			#{birthMon},
			#{birthDay},
			#{gender},
			#{hTel},
			#{cTel},
			#{email},
			#{sns},
			#{address},
			<choose>
				<when test="highName!=null and highName!=''">
					#{highIniYear},
					#{highIniMon},
					#{highFinYear},
					#{highFinMon},
					#{highName},
					#{highKind},
				</when>
				<otherwise>
					null,
					null,
					null,
					null,
					null,
					null,
				</otherwise>
			</choose>
			<choose>
				<when test="univName!=null and univName!=''">
					#{univIniYear},
					#{univIniMon},
					#{univFinYear},
					#{univFinMon},
					#{univName},
					#{univKind},
					#{univScore},
					#{univMajor},
				</when>
				<otherwise>
					null,
					null,
					null,
					null,
					null,
					null,
					null,
					null,
				</otherwise>
			</choose>
			<choose>
				<when test="graduName!=null and graduName!=''">
					#{graduIniYear},
					#{graduIniMon},
					#{graduFinYear},
					#{graduFinMon},
					#{graduName},
					#{graduKind},
					#{graduScore},
					#{graduMajor},
				</when>
				<otherwise>
					null,
					null,
					null,
					null,
					null,
					null,
					null,
					null,
				</otherwise>
			</choose>
			<choose>
				<when test="licenName!=null and licenName!=''">
					#{licenName},
					#{licenInsti},
					#{licenGrad},
				</when>
				<otherwise>
					null,
					null,
					null,
				</otherwise>
			</choose>
			<choose>
				<when test="jobName!=null and jobName!=''">
					#{jobName},
					#{jobIniYear},
					#{jobIniMon},
					#{jobFinYear},
					#{jobFinMon},
					#{jobRank},
					#{jobDept},
					#{jobContent},
					#{jobFire},
				</when>
				<otherwise>
					null,
					null,
					null,
					null,
					null,
					null,
					null,
					null,
					null,
				</otherwise>
			</choose>
			<choose>
				<when test="langName!=null and langName!=''">
					#{langName},
					#{langTest},
					#{langScore},
					#{langDateYear},
					#{langDateMon},
					#{langDateDay},
				</when>
				<otherwise>
					null,
					null,
					null,
					null,
					null,
					null,
				</otherwise>
			</choose>
			<choose>
				<when test="langName!=null and langName!=''">
					#{awardName},
					#{awardContent},
					#{awardInsti},
					#{awardDateYear},
					#{awardDateMon},
					#{awardDateDay},
				</when>
				<otherwise>
					null,
					null,
					null,
					null,
					null,
					null,
				</otherwise>
			</choose>
			<choose>
				<when test="langName!=null and langName!=''">
					#{abroadNation},
					#{abroadInsti},
					#{abroadCont},
				</when>
				<otherwise>
					null,
					null,
					null,
				</otherwise>
			</choose>
					#{vete},
					#{handi},
					#{milit},
			<choose>
				<when test="milit == 0">
					#{militIniYear},
					#{militIniMon},
					#{militFinYear},
					#{militFinMon},
					#{militKind},
					#{militRank}
				</when>
				<otherwise>
					null,
					null,
					null,
					null,
					null,
					null
				</otherwise>
			</choose>
		)
	</insert>
</mapper>