<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="javarajob.repository.ResumeDao">
	<resultMap type="resume" id="resumeResult" />
	<update id="uptResume" parameterType="resume">
		UPDATE RESUME SET
			NAME = #{name},
			BIRTHYEAR = #{birthYear},
			BIRTHMON = #{birthMon},
			BIRTHDAY = #{birthDay},
			GENDER = #{gender},
			HTEL = #{hTel},
			CTEL = #{cTel},
			EMAIL = #{email},
			SNS = #{sns},
			ADDRESS = #{address},
			HIGHINIYEAR = #{highIniYear},
			HIGHINIMON = #{highIniMon},
			HIGHFINYEAR = #{highFinYear},
			HIGHFINMON = #{highFinMon},
			HIGHNAME = #{highName},
			HIGHKIND = #{highKind},
			UNIVINIYEAR = #{univIniYear},
			UNIVINIMON = #{univIniMon},
			UNIVFINYEAR = #{univFinYear},
			UNIVFINMON = #{univFinMon},
			UNIVNAME = #{univName},
			UNIVKIND = #{univKind},
			UNIVSCORE = #{univScore},
			UNIVMAJOR = #{univMajor},
			GRADUINIYEAR = #{graduIniYear},
			GRADUINIMON = #{graduIniMon},
			GRADUFINYEAR = #{graduFinYear},
			GRADUFINMON = #{graduFinMon},
			GRADUNAME = #{graduName},
			GRADUKIND = #{graduKind},
			GRADUSCORE = #{graduScore},
			GRADUMAJOR = #{graduMajor},
			LICENNAME = #{licenName},
			LICENINSTI = #{licenInsti},
			LICENGRAD = #{licenGrad},
			JOBNAME = #{jobName},
			JOBINIYEAR = #{jobIniYear},
			JOBINIMON = #{jobIniMon},
			JOBFINYEAR = #{jobFinYear},
			JOBFINMON = #{jobFinMon},
			JOBRANK = #{jobRank},
			JOBDEPT = #{jobDept},
			JOBCONTENT = #{jobContent},
			JOBFIRE = #{jobFire},
			LANGNAME = #{langName},
			LANGTEST = #{langTest},
			LANGSCORE = #{langScore},
			LANGDATEYEAR = #{langDateYear},
			LANGDATEMON = #{langDateMon},
			LANGDATEDAY = #{langDateDay},
			AWARDNAME = #{awardName},
			AWARDCONTENT = #{awardContent},
			AWARDINSTI = #{awardInsti},
			AWARDDATEYEAR = #{awardDateYear},
			AWARDDATEMON = #{awardDateMon},
			AWARDDATEDAY = #{awardDateDay},
			ABROADNATION = #{abroadNation},
			ABROADINSTI = #{abroadInsti},
			ABROADCONT = #{abroadCont},
			VETE = #{vete},
			HANDI = #{handi},
			MILIT = #{milit},
			MILITINIYEAR = #{militIniYear},
			MILITINIMON = #{militIniMon},
			MILITFINYEAR = #{militFinYear},
			MILITFINMON = #{militFinMon},
			MILITKIND = #{militKind},
			MILITRANK = #{militRank}
		WHERE USERID = #{userId}
	</update>

	<select id="oneResume" parameterType="String" resultType="resume">
		SELECT
		* FROM RESUME
		WHERE USERID = #{userId}
	</select>
</mapper>