<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="javarajob.repository.SelfDocuDao">
	<resultMap type="docu" id="docuResult" />
	<insert id="docuUpload" parameterType="docu">
		INSERT INTO SELFDOCUMENT VALUES(
			#{userId}, #{fileName}, SYSDATE, #{filePath}, #{fileSize} 
		)
	</insert>
	
	<update id="docuUpload2" parameterType="docu">
		UPDATE SELFDOCUMENT SET REGDATE = SYSDATE
		WHERE USERID = #{userId} AND FILENAME = #{fileName}
	</update>
	
	<select id="docuView" parameterType="String" resultMap="docuResult">
		SELECT * FROM SELFDOCUMENT
		WHERE USERID = #{k}
		ORDER BY REGDATE DESC
	</select>
	
	<delete id="delSelfIntro" parameterType="documulti">
		DELETE FROM SELFDOCUMENT
		WHERE USERID = #{userId}
		AND FILENAME IN
		<if test="fileNames != null">
			<foreach collection="fileNames" item="nameCheck" open="(" close=")" separator=",">
				#{nameCheck}
			</foreach>
		</if>
	</delete>
	
	<delete id="delAccoDocu" parameterType="String">
		DELETE FROM SELFDOCUMENT
		WHERE USERID = #{userId}
	</delete>
	
</mapper>