
/* 드래그 금지 */
div {
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
/* 드래그 금지 */



/* table 색, 모양 등등 */
.kdb-table table, .kdb-table td, .kdb-table th {
	border-collapse: collapse;
	padding: 5px;
}

.kdb-table table {
	width: 100% !important;
	letter-spacing: -0.05em;
	border-top: 3px solid #37315d;
	border-bottom: 2px solid #e2e2e2;
	border-spacing: 0;
	border-collapse: collapse;
	line-height: 18px;
}

.kdb-table td {
	border-right: 1px solid gray;
	border-left: 1px solid gray;
	border-bottom: 1px solid gray;
	text-align: center;
}

.kdb-table th {
	border: 1px solid white;
	color: white;
	padding: 10px;
	font-weight: bold;
	text-align: center;
}

.kdb-table .no-content {
	min-height: 70px;
}
/* table 색, 모양 등등 */



/* 자소서 배경 불투명 처리... 근데 안됨 */
.job-bg .self-overlay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: rgba(55, 55, 55, 0.8);
}
/* 자소서 배경 불투명 처리... 근데 안됨 */



/* input button 숨기기 */
.file_input_textbox {
    float:left;
    height:29px;
}
.file_input_div {
    position:relative;
    width:80px;
    height:36px;
    overflow:hidden;
}
.file_input_img_btn {
    padding:0 0 0 5px;
}
.file_input_hidden {
    font-size:29px;
    position:absolute;
    right:0px;
    top:0px;
    opacity:0;
    filter: alpha(opacity=0);
    -ms-filter: alpha(opacity=0);
    cursor:pointer;
}
/* input button 숨기기 */