.kdb-table table, .kdb-table td, .kdb-table th {
	border-collapse: collapse;
	padding: 5px;
}

.kdb-table table {
	width: 100% !important;
	letter-spacing: -0.05em;
	border-top: 3px solid #37315d;
	border-bottom: 2px solid #e2e2e2;
	border-spacing: 0;
	border-collapse: collapse;
	line-height: 18px;
}

.filebox label {
	display: inline-block;
	padding: .5em .75em;
	color: #999;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #fdfdfd;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
}

.filebox input[type="file"] { /* 파일 필드 숨기기 */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.kdb-table td {
	border-right: 1px solid gray;
	border-left: 1px solid gray;
	border-bottom: 1px solid gray;
	text-align: center;
}

.kdb-table th {
	background-color: #bbbbbb;
	border: 1px solid white;
	color: black;
	padding: 10px;
	font-weight: bold;
	text-align: center;
}

.kdb-table .no-content {
	min-height: 70px;
}

div {
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}